:root {
  --navbar-background-color: hsl(212, 80%, 60%);
  --search-background-color: hsla(213, 57%, 91%, 0.897);
  --posts-border-color: hsl(212, 34%, 82%);
  --card-strip: hsl(46, 100%, 67%);
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", "Times New Roman", Times, serif;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

svg {
  width: 25px;
  height: auto;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
}

.nav {
  flex: 1 1 auto;
  max-width: 400px;
  padding: 20px;
  background-color: var(--navbar-background-color);
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.6rem;
}

.logo-icon {
  width: 50px;
  height: auto;
  fill: #fff;
}

.general,
.preferences {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-icon {
  width: 35px;
  height: auto;
  fill: white;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  flex: 3 1 auto;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 50px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex: 2 1 250px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.search > input[type="text"] {
  flex: 1 1 250px;
  border-radius: 15px;
  background-color: var(--search-background-color);
  border: 0px;
}

.user {
  flex: 1 1 auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

img {
  border-radius: 50%;
}

.user-actions {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-user {
  display: flex;
  align-items: center;
  gap: 18px;
}

.welcome-user > div > p:last-child{
  margin-top: 0.2em;
  font-size: 1.5rem;
}

.welcome-user > a > img {
  width: 5em;
}

.actions > button {
  font-size: 1.2rem;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin-left: 20px;
  background-color: var(--navbar-background-color);
  color: #fff;
  border: none;
}

.cards {
  flex: 2 0 auto;
  background-color: var(--search-background-color);
  border-top: 5px solid var(--posts-border-color);
  padding: 20px;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.projects {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.title {
  grid-column: 1 / -1;
  align-self: center;
}

.card { 
  border-left: 10px solid var(--card-strip);
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgb(184, 184, 184) 4px 4px 5px;
}

.card > p {
  font-weight: 500;
}

